/* Farbtastic placement */
.color-form {
  max-width: 50em;
  position: relative;
}
#placeholder {
  position: absolute;
  top: -0.5em;
  right: 0; 
}

/* Palette */
.color-form .form-item {
  height: 2em;
  line-height: 2em;
  margin: 0.5em 0;
}
.color-form label {
  float: left; 
  width: 14em;
}
.color-form .form-text, .color-form .form-select {
  float: left; 
}
.color-form .form-text {
  text-align: center;
  margin-right: 5px; 
  cursor: pointer;
}

#msnlive-palette .hook {
  float: left; 
  margin-top: 3px;
  width: 16px;
  height: 16px;
}
#msnlive-palette .form-item .form-item {
  width: inherit;
  margin: 0;
  float: left; 
}
#msnlive-palette .item-selected input {
  border: 2px solid black;
}